.main_row_border{
    height: 130%;

border: 1px solid #E1E4E8;
border-radius: 6px;
display: flex;
flex-direction: column;
}

.title_text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

/* black */

color: #302A39;
}
.desc_text_card{
    /* Desktop/Bodytext-regular */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */


/* black */

color: #302A39;
}

@media(max-width : 768px){
    .desc_text_card{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;
letter-spacing: 0.005em;

/* white */

color: black;
    }
}

@media (max-width : 768px) {
    .number_card{
        width: 40%;
    }
}