:where(.css-dev-only-do-not-override-15rg2km).ant-drawer .ant-drawer-header{
  border-bottom: none !important;
}
@media (max-width : 768px) {
  .text_what_we_offer{
    /* Mobile/Heading_2-semibold */

font-family: 'Poppins';
font-style: normal;
font-weight: 600 !important;
font-size: 20px !important;
line-height: 30px !important;
/* identical to box height */


/* black */

color: #302A39;
  }
}